/* dark mode */
/* body background and text */
.body.dark {
    background: rgb(13, 17, 23);
    color: white;
}
/* btn switch */
.btn-switch.dark {
    background: white;
    color: black;
    border: white;
}
.dtPicker-content.dark{
    background: rgb(13, 17, 23);
    color: white;
    border: white;
}